.navbar {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    background: black;
    color: white;
}
.site-footer {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    background: black;
}

#tl-triangles {
    float:left;
    margin-left: 0px;
    padding-top: 20vw;
    width: 18vw;
}
#tr-triangles {
    float: right;
    margin-right: 0px;
    padding-bottom: 20vw;
    width: 16vw;
}
#br-triangles {
    float: right;
    margin-right: 0px;
    padding-top: 10vw;
    width: 16vw;    
}
#logo-header {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:32vw;
}

#l-zigzag {
    float:left;
    /*padding-top: 32vw;*/
    padding-right: 1vw;
    width: 20vw;
}
#r-zigzag {
    float:right;
    /*padding-bottom: 32vw;*/
    padding-left: 1vw;
    width: 20vw;
}


.site-text {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    text-align: center;
    color: black;
}
.site-paragraph {
    text-align: justify;
    font-size: 1.4em;
}

#member-paragraph {
    font-size: 1.3em;
}
.members-right {
    text-align: right;
}
.members-left {
    text-align: left;
} 
.member-image {
    padding-bottom: 4vw;
}
.contact-right {
    text-align: left;
}
.contact-left {
    text-align: right;
}
.site-link {
    text-decoration: none;
    color: black;
}
.site-link:hover {
    text-decoration: none;
    color: red;
}
.site-link:active {
    text-decoration: none;
    color: red;
}
/*#intro-header {

}*/